body {
    background-color: white;
    text-align: center;
} 

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

main {
    width: 50%;
    font-family: 'Source Sans 3', sans-serif;
    border:lightslategray solid;
    border-width: thin;
}

.cont01 {
    margin-bottom: 30px;
}

.cont02 {
    padding: 30px;
    margin-bottom: 10px;
}

h2 {
    background-color: #04146c;
    color: white;
    font-size: 38px;
}

h1 {
    color: #04146c;
    font-size: 88px;
    font-weight: 900;
    
}

h3 {
    color: #04146c;
    font-size: 26px;
    margin: 20px;
    
}

        
p {
    color: #04146c;
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    padding: 20px;

}

img {
    width: 600px;
    vertical-align: middle;
    border: 2px solid black;

 }




      