body {
    background-color: white} 

        
.p1 {
    color: #04146C;
    font-size: 78px;
    font-family: 'Poppins', sans-serif, bold;
    font-weight: 700;
}

.p2 {
    color: #04146C;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}

.img1 {
    width: 80vh;
    height: 100vh;
    
}

.img2 {
    width: 130vh;
    height: 60vh;
    
}


      