body {
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

h3{
    color: #0a2ff1;
    font-size: 66px;
    height: fit-content;
    margin: 0;
}



h2 {
    color: white;
    background-color: black;
    font-size: 197px;
    height: fit-content;
    margin: 0;
    }

h1{
    color: black;
    font-size: 217px;
    height: fit-content;
    margin: 0;
    padding: 100px;
}

#p1 {
    color: #0a2ff1;
    font-size: 58px;
    margin: 0;
    height: fit-content;
}
        
#p2 {
    color: #0a2ff1;
    font-size: 48px;
    height: fit-content;
    margin: 0;
    padding: 30px;
}

      