body {
    background-color: white;
    text-align: center;
}

h1,h3{
    color: white;
    font-size: 198px;
    font-family: 'MuseoModerno', cursive;
}

h2 {
    color: black;
    font-size: 117px;
    font-family: 'MuseoModerno', cursive;
    }
        
p {
    color: #04146C;
    font-size: 33px;
    font-family: 'Asap', sans-serif;
}

ul {
    color: #04146C;
    font-size: 48px;
    font-family: 'Asap', sans-serif;
}

      