*{
    margin: auto;
    padding: auto;
    box-sizing:content-box
}

body {
    background-color: white;
}

main {
    padding: 1em;
    align-content:flex-start;
    display: inline-flex;
}

section {
    padding: 1em;
    display: block;
    align-content:flex-start;
}



div{
    width: 20%;
    padding: 1em;
    display: inline-flex;
    background-color: #eff2ff;
    justify-content: space-evenly;
    align-self: center;
}

@font-face {


    font-family: "cool";
    src: url(./Recursos/coolvetica\ rg\ \(2\).otf)
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1 {
    color: #0a2ff1;
    font-size: 120px;
    margin: 40px;
    margin-bottom: 70px;
    font-family:cool;
 
}

h2 {
    color: #0a2ff1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 25px;
 
}

p{
    color: #04146c;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

img{
    margin-bottom: 10px;
}

#cont01,#cont02,#cont03,#cont04{
    margin: 30px;
    display: flex;
    flex-direction: column;
}

#img1, #img3, #img4{
    width: 25%;

}

#img2{
    width: 18%;

}

      