
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    align-content: center;
    margin: 100px; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


#cont01{
    margin: 30px;
    display: inline;
}

#cont02{
    margin: 70px;
    display: inline-block;
    justify-content: flex-end;
    height: 415px;
}



h1 {
    color: #0a2ff1;
    font-size: 62px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
 
}

h2 {
    color: #04146c;
    font-size: 31px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    
}

h6 {
    color: #04146c;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
}

#img2{
    margin: 10px;
    margin-left: 0;
}



